<div class="tabla-wrapper">
  <table class="tabla">
    <thead>
      <tr>
        <th *ngFor="let col of columnas">{{ col | titlecase }}</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let fila of datos; let i = index">

        <td *ngFor="let col of columnas">
          {{ obtenerValorCelda(fila, col) }}
        </td>

        <td class="acciones-cell">
          <button class="dot-btn" (click)="alternarMenu(i)">⋮</button>

          <div class="menu" *ngIf="menuAbiertoPara === i">
            <button *ngFor="let a of acciones" (click)="ejecutarAccion(a, fila)">
              {{ a | titlecase }}
            </button>
          </div>

        </td>

      </tr>
    </tbody>
  </table>
</div>
