<div
  class="modal fade"
  id="modalReserva"
  tabindex="-1"
  aria-labelledby="modalReservaLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      @if (datos()) {
      <div class="modal-header d-flex flex-column align-items-center">
        <h1 class="modal-title fs-5" id="modalReservaLabel">
          @if(informacion()=== 'info'){
          <i class="bi bi-info-circle me-2"></i>
          }@else if(informacion()=== 'danger'){
          <i class="bi bi-trash3"></i>
          }@else if(informacion()=== 'alert'){
          <i class="bi bi-exclamation-diamond-fill"></i>
          }@else if(informacion()==='succes'){
          <i class="bi bi-check-circle-fill"></i>
          }

          {{ informacion() | uppercase }}
        </h1>
        <button
          type="button"
          class="btn-close position-absolute end-0 me-3"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        @if(informacion() === 'info'){

        <img
          [src]="datos()!.imagen"
          class="card-img-top mb-3 mx-auto d-block"
          style="max-width: 250px"
        />

        <h5>{{ datos()!.nombre_recurso }}</h5>

        <p><strong>Motivo:</strong> {{ datos().motivo }}</p>
        <p><strong>Hora Inicio:</strong> {{ datos().hora_inicio }}</p>
        <p><strong>Hora Fin:</strong> {{ datos().hora_fin }}</p>
        <p><strong>Estado:</strong> {{ datos().estado }}</p>

        }@else if(informacion() === 'danger'){

        <div
          class="alert alert-danger d-flex flex-column justify-content-center align-items-center"
          role="alert"
        >
          <i class="bi bi-exclamation-triangle-fill mb-3 fs-4"></i>
          <div>
            Estas seguro de Eliminar esta información:
            <h5>Datos de la Reserva</h5>
            <h5>{{ datos().nombre_recurso }}</h5>
            <p><strong>Motivo:</strong> {{ datos().motivo }}</p>
            <p><strong>Hora Inicio:</strong> {{ datos().hora_inicio }}</p>
            <p><strong>Hora Fin:</strong> {{ datos().hora_fin }}</p>
            <p><strong>Estado:</strong> {{ datos().estado }}</p>
          </div>
        </div>

        }@else if(informacion() === 'alert'){
        <div class="alert alert-warning d-flex align-items-center" role="alert">
          <i class="bi bi-exclamation-triangle-fill me-2 fs-4"></i>
          <div>La tarea no se pudo llevar a cabo</div>
        </div>

        }@else if(informacion() === 'success'){
        <div class="alert alert-success d-flex flex-column align-items-center" role="alert">
          <i class="bi bi-check-circle-fill mb-2 fs-4"></i>
          <div>Proceso realizado con exito.</div>
        </div>
        }
      </div>
      }

      <div class="modal-footer d-flex justify-content-center">
        @if(informacion()!== 'danger'){
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        }@else{
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="aceptar()">
          Aceptar
        </button>

        <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="rechazar()">
          Rechazar
        </button>
        }
      </div>
    </div>
  </div>
</div>
