.nav-tabs {
  border-bottom: none !important; 
}

.nav-tabs .nav-link {
  border: none !important;      
  background-color: white;         
  color: rgb(40,40,40);           
  font-weight: 500;
  position: relative;              
}

.nav-tabs .nav-link.active {
  border: none !important;
  font-weight: 600;
  color: rgb(0,0,0);
}

.nav-tabs .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;                 
  background-color: #00bfff;  
  border-radius: 2px 2px 0 0;  
}
