<!-- CONTENEDOR GENERAL -->
<div class="border-bottom pb-2">
   
  <!-- TÍTULO PRINCIPAL -->
  <h4 class="mt-3 mb-2">Sistema de Gestión de Recursos Comunitarios</h4>

  <!-- NAV DE RECURSOS | RESERVAS -->
  <ul class="nav nav-tabs">

    <!-- Pestaña Recursos -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Recursos</a>
    </li>

    <!-- Pestaña Reservas -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/reservas" routerLinkActive="active">Reservas</a>
    </li>

  </ul>

</div>
